[submodule "library/vulkan-headers"]
	path = library/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "library/vulkan-utils"]
	path = library/vulkan-utils
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries.git
[submodule "library/volk"]
	path = library/volk
	url = https://github.com/zeux/volk.git
[submodule "library/vma"]
	path = library/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "library/glfw"]
	path = library/glfw
	url = https://github.com/glfw/glfw.git
